*{
  font-size: 1.5rem;
  /* text-align: center; */
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  color: aliceblue;
}

h2{
  margin-bottom: 0.25rem;
}

body{
  margin: 0;
  min-height: 500vh;
}

canvas {
  position: fixed;
  top: 0;
  left:0;
}

#container{
  position: fixed;
  /* text-align: center; */
  /* display: block; */
  /* margin: 1rem; */
  /* width: 600px; */
  width: 100vw;
  height: 90vh;
  padding: auto;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, 2.5rem);
  max-height: 100%;
  display: none;
  /* top: 15rem;  */
  /* top: 315px; */
  /* margin-top: 200px; */
  /* bottom: 50%; */
  /* margin-top: 5rem; */
  /* margin-bottom: 10rem; */
  overflow-y: none;
}

.cv_content{
  font-size: 1rem;
  margin: 0;
}

#PAGE_CV{
  text-align: center;
  font-size: larger;
  display: none;
  backdrop-filter: blur(10px);
}

.fadeIn{
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#PAGE_Portofolio{
  font-size: larger;
  display: none;
}


#footer-project{
  /* background-color: aliceblue; */
  backdrop-filter: blur(10px);
  position: fixed;
  overflow-wrap: break-word;
  text-align: left;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 100%; */
  margin: 1rem;
  margin-bottom: 1rem;
}

#footer-desc{
  /* margin: 1rem; */
  /* margin-right: 10rem; */
  display: none;
}

#true-footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

#true-footer p{
  margin: 0;
  font-size: 0.5rem;

  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.fadeOut{
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0; display: none;}
}

.left{
  float: left;
}

.right{
  float: right;
}




.nav-style{
  position: sticky;
  overflow: auto;
  /* background-color: green; */
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.nav-left{
  position: fixed;
  float: left;
}

.nav ul li{
  float: left;
  padding: 1vw;
}

.nav-right{
  position: fixed;
  right: 0;
  /* top: 50%; */
  float: right;
}

.nav-right ul li{
  float: right;
  padding: 1vw;
}

.nav a:hover{
  background-color: rgb(31, 31, 31);
}



main{
  position: absolute;
  
  margin: 20vw;
  margin-bottom: 20vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-style: solid;
  border-color: black;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.3);

  backdrop-filter: blur(10px);
}

.main-bg{
  background-color: aliceblue;

}

.button {
  background-color: #24a0ed; /* Changing background color */
  /*font-weight: bold;  Making font bold */
  border-radius: 20px; /* Making border radius */
  width: min-content;
  /* height: auto;  Making auto-sizable height */
  padding: 5px 30px 5px 30px; /* Making space around letters */
  font-size: 18px; /* Changing font size */
  display: inline-block;
}

/* .button{
color: black;
} */


.textstyle {
  /* background-color: gray; */
  border-style: solid;
  
  border-radius: 20px; /* Making border radius */
  width: min-content;
  /* height: auto;  Making auto-sizable height */
  padding: 5px 10px 5px 10px; /* Making space around letters */
  font-size: 15px; /* Changing font size */
  display: inline-block;
}

#loading{
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* top: 50%;
  left: 50%; */
  overflow-y: none;
  background-color: #1a1e21;
  /* #132133 #2d2d3d #1e1e29 #242a2d  */
}

#loader-pos{
  
  width: 100vw;
  height: 100vh;
  /* background-color: grey; */
  transform: translate(50%, 50%);
  
}
#loader-pos p{
  transform: translate(-15vh, 0);
}



/* https://css-loaders.com/bars/ */
/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side,#fff 90%,#0000);
  background: var(--_g), var(--_g), var(--_g);
  background-size: 25% 25%;
  animation: l17 1s infinite;
}
@keyframes l17{ 
  0%     {background-position: 0% -100%,50% -100%,100% -100%}
  16.67% {background-position: 0%   50%,50% -100%,100% -100%}
  33.33% {background-position: 0%   50%,50%   50%,100% -100%}
  45%,55%{background-position: 0%   50%,50%   50%,100%   50%}
  66.67% {background-position: 0%  200%,50%   50%,100%   50%}
  83.33% {background-position: 0%  200%,50%  200%,100%   50%}
  100%   {background-position: 0%  200%,50%  200%,100%  200%}
}